body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/28/95/71/1000_F_228957151_YEMbK50JJ0t1fpPC0P8ngAuEdkMdnFtC.jpg);
    background-size: cover;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group textarea {
    height: 100px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  